      <aside class="large-4 columns">
        <div class="box search">
          <form action="http://www.bluthemes.com/themes/breeze/" method="get" class="searchform" role="search">
                <a href="#"><i class="icon-search-1"></i></a>
                  <input type="text" name="s" value="" placeholder="Buscar..">
          </form>
        </div>
        <div class="box newsletter">
            <h3 class="widget-head">NEWSLETTER</h3>
            <form action="http://www.bluthemes.com/themes/breeze/" method="get" class="searchform" role="search">
                <a href="#"><i class="icon-search-1"></i></a>
                  <input type="text" name="s" value="" placeholder="Insira seu e-mail e receba novidades..">
            </form>    
        </div>
        <div class="box">
          <h3 class="widget-head">Categories</h3>    
          <ul>
            <li class="cat-item cat-item-60"><a href="http://www.bluthemes.com/themes/breeze/category/audio" title="View all posts filed under Audio">Audio</a> <span class="badge">1</span>
          </li>
            <li class="cat-item cat-item-53"><a href="http://www.bluthemes.com/themes/breeze/category/gallery" title="View all posts filed under Gallery">Gallery</a> <span class="badge">2</span>
          </li>
            <li class="cat-item cat-item-42"><a href="http://www.bluthemes.com/themes/breeze/category/image" title="View all posts filed under Image">Image</a> <span class="badge">4</span>
          </li>
            <li class="cat-item cat-item-34"><a href="http://www.bluthemes.com/themes/breeze/category/standard" title="View all posts filed under Standard">Standard</a> <span class="badge">2</span>
          </li>
            <li class="cat-item cat-item-38"><a href="http://www.bluthemes.com/themes/breeze/category/status" title="View all posts filed under Status">Status</a> <span class="badge">3</span>
          </li>
            <li class="cat-item cat-item-1"><a href="http://www.bluthemes.com/themes/breeze/category/uncategorized" title="View all posts filed under Uncategorized">Uncategorized</a> <span class="badge">2</span>
          </li>
            <li class="cat-item cat-item-47"><a href="http://www.bluthemes.com/themes/breeze/category/video" title="View all posts filed under Video">Video</a> <span class="badge">1</span>
          </li>
              </ul>
          </div>

          <div class="box">
            <h3 class="widget-head">ADS</h3>  
          </div>

          <div class="box">
            <h3 class="widget-head">INSTAGRAM</h3>  
          </div>
      </aside>