    <footer>
      <div class="row">
        <div class="large-4 columns">
        	Delivery de produtos de convêniencia na madrugada
        </div>
        <div class="large-4 columns">
        	<h3 class="widget-head">Tags</h3>
        </div>
        <div class="large-4 columns">
        	<h3 class="widget-head">SIGN UP TO OUR NEWSLETTER!</h3>
        </div>
      </div>
      <div class="row-fluid" id="footer-bottom">
			Copyright 2014 · Theme design by the Bluth Company · www.bluth.is		
	  </div>
    </footer>