$font-family-1: 'Droid Sans', 'Roboto', Arial, sans-serif;
$font-family-2: 'Roboto Slab', sans-serif;

$color-blue-1: #033e7a;
$color-blue-2: #032243;
$color-blue-transparent: rgba(3, 34, 67, 0.7);
$color-red: #df5054;
$color-yellow: #f7941d;

$color-post-p: #525252;
$color-link: #9A9A9A;

$color-background-1: #F8F8F8;

$background-1: url(../../img/dist/back-7.jpg) $color-background-1;

$color-facebook: #4861A3;
$color-google: #CE4231;
$color-twitter: #1BB2E9;
$color-pinterest: #CD2026;
$color-linkedin: #007BB6;
$color-email: #AC8568;
$color-delicious: #3399ff;

$border-radius-general: 5px;

$padding-general: 20px;