body{
	background: $background-1;
	background-position:center;
	background-attachment:fixed;
}
body,p{
	font-family: $font-family-2;
}

h1,h2,h3,h4{
	font-family: $font-family-1;
	font-weight: bold;
	font-size:2em;
	letter-spacing: -1px;
	a{
		color: $color-blue-1;
	}
}
p{
	font-family: $font-family-2;
}
	a{
		margin: 0;
		padding: 0;
		display: inline;
		font-weight: bold;
		color: $color-blue-1;
	}

aside{
	 .box{
		margin-bottom: 35px;
	}
	.newsletter form,.search form{
		margin: 0;
		padding: 15px;
		input{
			margin: 0;
		}
	}
	&.fixed{
		width:330px;
		left: 960px;
	}
}

article{
	margin-bottom: 30px;
	float: left;
}

footer{
	background: $color-blue-2;
	width: 100%;
	padding: 20px 0;
	color: #fff;
	.widget-head{
		color: #fff;
	}
	ul {
		color: rgba(0, 0, 0, 0.3);
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

input{
	border-radius: $border-radius-general;
}

.button, button{
	border-radius: $border-radius-general;
	background-color: $color-blue-1;
	font-family: $font-family-1;
}