.fixed{position:fixed;}
.main{
	margin-top:20px;
}
.top-bar-section ul{
	li:not(.has-form) a.facebook:not(.button){
		font-size: 1.5em;
		&:hover{
			background:transparent;
			color: #4861A3;
		}
	}
	li:not(.has-form) a.instagram:not(.button){
		font-size: 1.5em;
		&:hover{
			background:transparent;
			color: #AC8568;
		}
	}
	li:not(.has-form) a.twitter:not(.button){
		font-size: 1.5em;
		&:hover{
			background:transparent;
			color: #1BB2E9;
		}
	}
}

.contain-to-grid, .top-bar, .top-bar-section li:not(.has-form) a:not(.button),.top-bar-section ul li > a, .top-bar-section ul,.top-bar-section .has-form{
	background: transparent;
}

.box{
	background-color: #FFF;
	border-radius:1px 1px 1px 1px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
	border-radius: $border-radius-general;
}

.widget-head {
	font-size: 1em;
	font-weight: bold;
	line-height: 50px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.flex-video{
	margin-bottom: 0;
}

#footer-bottom {
	background: rgba(0, 0, 0, 0.1);
	color: #B8B8B8;
	font-size: 12px;
	padding: 5px 0;
	text-align: center;
}

.cat-item{
	list-style:none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	padding: 7px 0;
}
.entry-container{
	float: left;
}
.comments{
	padding: 35px;
}

/*--------------- Default Wordpress ---------------*/

/* Alignment */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

blockquote.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
	margin-top: 7px;
	margin-bottom: 7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 17px;
	width: 50%;
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
	margin-bottom: 17px;
}

.wp-caption {
	margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption {
	color: #767676;
}

.wp-caption-text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0;
	padding-right: 10px;
}

.wp-smiley {
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Assistive text */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	text-transform: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

.hide {
	display: none;
}

/*--------------- MailChimp Wordpress ---------------*/
.mc-field-group{
	margin-bottom: 10px;
}

/*--------------- Top 10 Wordpress Popular Posts ---------------*/
.wpp-list{
	list-style:none;
	margin-left: 10px;
	li{
		padding: 10px 0;
		img{
			border-radius: 50px;
		}
	}
}
.wpp-thumbnail{
	margin: 0 10px 0 0;
}