.author{
	.image{
		left: 50%;
		margin: 0 -50px;
		position: absolute;
		top: -55px;
		overflow: hidden;
		border-radius: 500px;
		height: 100px;
		width: 100px;
		background: #FFF;
		padding: 5px;
		img{
			border-radius: 500px;
			height: 90px;
			max-width: none;
			width: 90px;
		}
	}
	.bio{
		padding: 50px 10px 15px 10px;
		color: #333;
		p{
			font-size: 0.9em;
			&.muted{
				font-size: 0.8em;
			}
		}
		h3{
			font-size: 1.2em;
		}
	}
	.widget-body {
		position: relative;
		text-align: center;
	}
}

.author-post{
	background:$color-blue-transparent;
	padding: $padding-general ;
	margin-bottom: $padding-general;
	overflow:hidden;
	.avatar{
		height: 90px;
		width: 90px;
		border-radius: 500px;
		border: 5px solid rgba(0, 0, 0, 0.2);
		border-radius: 500px;
		display: inline-block;
		left: 35px;
		float: left;
	}
	.author-body{
		float: left;
		p{
			float: left;
			color:#fff;
		}
	}
	h2{
		border:none;
		margin: 0;
		padding: 0;
		a{
			color:$color-yellow;
		}
		
	}
}