.pagination{
	text-align: center;
	margin: 0 0 30px;
	display: block;
	padding: 10px 35px;
	float: left;
	width: 100%;
	> * {
		font-size: 14px;
		margin-right: 10px;
		padding: 5px 15px;
		display: inline-block;
	}
	> a {
		border-color: #F35353;
	}
}