article{
	.entry-container{
		padding: $padding-general;
		overflow: hidden;
	}
	header{
		display: block;
		padding-bottom:2%;
		float: left;
		width: 100%;
	}
	h2{
		font-size: 2em;
		text-align: left;
		display: block;
		font-weight: bold;
		padding: 0;
		font-family: $font-family-1;
	}

	.meta{
		list-style: none;
		color: #9A9A9A;
		padding: 0;
		margin: 0;
		line-height: 20px;
		width: 100%;
		float: left;
		li{
			float: left;
			margin-right: 1%;
			font-size: 0.9em;
			a{
				color: $color-link;
			}
			@extend .social-media;
		}
	}
	p{
		line-height: 1.8;
		font-size: 1em;
		font-family: $font-family-2;
	}

	.categories{
		list-style: none;
		width: 100%;
		float: left;
		margin: 0;
		li{
			float: left;
			font-size: 0.9em;
			padding: 4px 8px;
			margin-right: 10px;
			background: $color-background-1;
			a{
				color: $color-link;
			}
		}
	}
	footer{
		background: #fff;
		clear: both;
		float: left;
		width: 100%;
	}
}