.related-post{
	padding: $padding-general;
	h3{text-align:center}
	li{
		width:20%;
		list-style: none;
		padding-bottom: 40px;
		float: left;

		.relatedthumb{
			float: left;
			margin: 0 12% 10px 12%;
			img{
				border-radius: 50px;
				width: 80px;
				height: 80px;
			}
		}
		.relatedcontent{
			text-align:center;
			h3{
				font-size: 0.9em;
				text-align:center;
				line-height: 1em;
			}
		}
		h3{
			margin-bottom: 0px;
			text-align:center;
		}
		.date{
			color:$color-link;
			font-size: 0.6em;
			text-align:center;
		}
	}
}