.share-story-container{
	margin-top:10px;

	h4 {
		margin: 0;
		width: 100%;
		padding-right: 15px;
		padding-bottom: 5px;
		margin-bottom: 5px;
		display: block;
		text-align: center;
		font-size: 16px;
		line-height: 40px;
		float: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	li{
		display: table-cell;
		width: 1%;
	}
	li a {
		height: 30px;
		display: block;
		text-align: center;
		font-size: 1.4em;
	}
	@extend .social-media;
}
