.top-bar{
	height: 100px;
	@include respond-to(small-screen) {height:40px;background:$color-blue-transparent}
	&.expanded, &.expanded .title-area{
		@include respond-to(small-screen) {background:$color-blue-transparent}
	}
	img{
		@include respond-to(small-screen) {width:30%;margin-top: -10px;}
	}
	a{
		background: transparent;
	}
	.has-form.search{
		input{
			background: rgba(255, 255, 255, 0.3);
			border:none;
			color: #fff;
		}
		.button.search{
			padding: 5px;
		}
		.icon-search{
			font-size: 1.5em;
		}
	}
}