@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jptkb9');
	src:url('fonts/icomoon.eot?#iefix-jptkb9') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jptkb9') format('woff'),
		url('fonts/icomoon.ttf?-jptkb9') format('truetype'),
		url('fonts/icomoon.svg?-jptkb9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
	content: "\f02d";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-volume-high:before {
	content: "\e60a";
}
.icon-googleplus:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-linkedin:before {
	content: "\e607";
}
.icon-delicious:before {
	content: "\e608";
}
.icon-pinterest:before {
	content: "\e609";
}
.icon-globe:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e602";
}
.icon-search:before {
	content: "\e603";
}
.icon-pictures:before {
	content: "\e60b";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e604";
}
