@mixin respond-to($media) {
  @if $media == small-screen {
    @media only screen and (max-width: 40em) { @content; }/* max-width 640px, mobile-only styles, use when QAing mobile issues */
  }
  @else if $media == medium-screen {
    @media only screen and (min-width: 40.063em) { @content; }/* min-width 641px, medium screens */
    @media only screen and (min-width: 40.063em) and (max-width: 64em) { @content; } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  }
  @else if $media == large-1024 { 
    @media only screen and (min-width: 64.0em) { @content; }  /* min-width 1024px, large screens */
    @media only screen and (min-width: 64.0em) and (max-width: 84em) { @content; } /* min-width 1024px and max-width 1344px, use when QAing large screen-only issues */
  }
  @else if $media == large-1280 { //y
    @media only screen and (min-width: 80.000em) { @content; }  /* min-width 1280px, ylarge screens */
    @media only screen and (min-width: 80.000em) and (max-width: 84.375em) { @content; } /* min-width 1350px and max-width 1424px, use when QAing large screen-only issues */
  }
  @else if $media == large-1366 { //y
    @media only screen and (min-width: 85.375em) { @content; }  /* min-width 1366px, ylarge screens */
    @media only screen and (min-width: 85.375em) and (max-width: 89em) { @content; } /* min-width 1366px and max-width 1424px, use when QAing large screen-only issues */
  }
  @else if $media == large-1440 { //x
    @media only screen and (min-width: 90.0em) { @content; } /* min-width 1440px, xlarge screens */
    @media only screen and (min-width: 90.0em) and (max-width: 96.250em) { @content; } /* min-width 1440px and max-width 1540px, use when QAing xlarge screen-only issues */
  }
  @else if $media == large-1600 {
    @media only screen and (min-width: 100.0em) { @content; } /* min-width 1600px, xlarge screens */
    @media only screen and (min-width: 100.0em) and (max-width: 112.500em) { @content; } /* min-width 1600px and max-width 1800px, use when QAing xlarge screen-only issues */
  }
  @else if $media == large-1921 { //xx
    @media only screen and (min-width: 120.063em) { @content; }  /* min-width 1921px, xlarge screens */
  }
}
