.social-media{
	a[data-title="Facebook"]{
		color: $color-facebook;
	}
	a[data-title="Google+"]{
		color: $color-google;
	}
	a[data-title="Twitter"]{
		color: $color-twitter;
	}
	a[data-title="Pinterest"]{
		color: $color-pinterest;
	}
	a[data-title="Linkedin"]{
		color: $color-linkedin;
	}
	a[data-title="Email"]{
		color: $color-email;
	}
	a[data-title="Delicious"]{
		color: $color-delicious;
	}
}