$font-family-1: 'Droid Sans', 'Roboto', Arial, sans-serif;
$font-family-2: 'Roboto Slab', sans-serif;

$color-blue-1: #033e7a;
$color-blue-2: #032243;
$color-red: #df5054;
$color-yellow: #f7941d;

$color-post-p: #525252;
$color-link: #9A9A9A;

$color-background-1: #F8F8F8;