.top-bar{
	margin-bottom: 2%;
	height: 100px;
	img{
		margin-top: 5%;
	}
	[class^="icon-"], [class*=" icon-"]{
		font-size: 2em;
	}
	a{
		background: transparent;
	}
}
.top-bar-section ul{
	margin-top:4%;

	li:not(.has-form) a.facebook:not(.button):hover{
		background:transparent;
		color: #4861A3;
	}
	li:not(.has-form) a.instagram:not(.button):hover{
		background:transparent;
		color: #AC8568;
	}
}

.top-bar, .top-bar-section li:not(.has-form) a:not(.button),.top-bar-section ul li > a, .top-bar-section ul{
	background: transparent;
}

.box{
	background-color: #FFF;
	border-radius:1px 1px 1px 1px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.widget-head {
	font-size: 1em;
	font-weight: bold;
	line-height: 50px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
}

#footer-bottom {
	background: rgba(0, 0, 0, 0.1);
	color: #B8B8B8;
	font-size: 12px;
	padding: 5px 0;
	text-align: center;
}