@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?l7a28e');
	src:url('fonts/icomoon.eot?#iefixl7a28e') format('embedded-opentype'),
		url('fonts/icomoon.woff?l7a28e') format('woff'),
		url('fonts/icomoon.ttf?l7a28e') format('truetype'),
		url('fonts/icomoon.svg?l7a28e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-linkedin:before {
	content: "\e607";
}
.icon-delicious:before {
	content: "\e608";
}
.icon-pinterest:before {
	content: "\e609";
}
.icon-globe:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e602";
}
.icon-search:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e604";
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'icomoon';
            src: url('fonts/icomoon.svg#icomoon') format('svg');
    }
}